.hero-section {
	padding-top: 145px;
    max-width: 637px;
    margin: 0 auto;
}

.bgimg {
	    min-height:100%;
    background-attachment: fixed;

    background-size: cover;
    -moz-background-size: cover;
}


.paragraph{
	padding-top: 160px;
}

.btn {
	background-color: #C271FF;
	border: none;
}

.btn:hover, .btn:active {
	background-color: #C271FF;
    opacity: 0.9;
}

mark {
    color:#C271FF;
    
}




